body{
    background-color: #D8F045;
}
a{
    color: inherit;
    text-decoration: inherit;
}
#heading{
    text-align: center;
    font-family: monospace;
    font-size: 400%;
}
#header{
    display: block; 
}
#logo{
    display: block; 
    margin: auto;
    border-radius: 5%;
    border-width: 6px;
    border-style: solid;
    border-color: #F39512;
    width: 60%;
}

.main{
    
    display: block;
    margin-top: 1%;
    margin: auto;
    width:   50%;
    font-size: 400%;
    font-family: monospace;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
    
}

.buttons{
    display: block;
    margin: auto;
    margin-top: 1%;
    width:  45%;
    font-size: 150%;
    font-family: monospace;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
}