body{
    background-color: #009933;
    margin: 0;
    padding 0;
}
#scoreDisplay{
    display: inline-block;
    margin-left: 10%;
    font-size:150%;
    font-family: monospace;
    width: 25%;
}
#timeDisplay{
    display:inline-block;
    margin-top: 5%;
    margin-right: 20%;
    float: right;
    font-size: 150%;
    font-family: monospace;
}
#buttonBox{
    margin-top: 5%;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.button{
    display: block;
    margin: auto;
    font-size: 200%;
    font-family: monospace;
    width: 40%;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
}
#roundText{
    text-align: center;
    font-family: monospace;
}

#imageScreen{
    display:block; 
    margin: auto;
    width: 75%;
}
img{
    width: 25%;
    vertical-align: bottom;
}
.imagefour{
    height: 1%;
}
.imagesixteen{
    height: 1%;
}

#menuBar{
    display: block;
    padding: 0;
    margin: 0;
    background-color: #007bff;
    width: 100%;
    height: 40px;
    vertical-align: top;
    float:left;
}
#backButton{
    display: inline-block;
    height: 36px;
    border-width: 2px; 
    border-style: solid;
    border-color: black;
}
#backtext{
    display: inline-block;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 230%;
    
}