body{
    background-color: #D8F045;
}
#scoreDisplay{
    display: inline-block;
    margin-left: 35%;
    font-size:200%;
    font-family: monospace;
    width: 25%;
}
#timeDisplay{
    display:inline-block;
    font-size: 2em;
    font-family: monospace;
}
#buttonBox{
    margin-top: 1%;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.button{
    display: block;
    margin: auto;
    font-size: 200%;
    font-family: monospace;
    width: 10%;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
}
#roundText{
    text-align: center;
    font-family: monospace;
}

#imageScreen{
    display:block; 
    margin: auto;
    width: 25%;
}
img{
    width: 25%;
    vertical-align: bottom;
}
.imagefour{
    height: 1%;
}
.imagesixteen{
    height: 1%;
}