body{
    background-color: #009933;
    margin: 0;
    padding:0;
}

h1{ 
   text-align: center;
    font-family: monospace;
    font-size: 300%;
}

h3{
   text-align: center;
    font-family: monospace;
    font-size: 200%; 
}
#ScoreC{
    text-align: center;
    display: inline-block;
   width: 40%
   height: auto; 
    margin-left: 25%;
}
#DateC{
    display: inline-block;
    text-align: center;
    font-family: monospace;
    margin-left: 20%;
   height: auto; 
}

#preScore{
    display:block;
    text-align: center;
}

.scoreText{
    text-align: center;
    font-family: monospace;
    font-size: 150%;
}

#buttonBox{
    display:block;
    width: 90%;
    margin: auto;
}

.buttons{
    display: inline-block;
    margin: auto;
    margin-left: 5%;
    width:  40%;
    font-size: 200%;
    font-family: monospace;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
}

#menuBar{
    display: block;
    padding: 0;
    margin: 0;
    background-color: #007bff;
    width: 100%;
    height: 40px;
    float:left;
}
#backButton{
    display: inline-block;
    height: 36px;
    border-width: 2px; 
    border-style: solid;
    border-color: black;
}
#backtext{
    display: inline-block;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 230%;
}

#AgainButton{
    display: inline-block;
    height: 36px;
    border-width: 2px; 
    border-style: solid;
    border-color: black;
    float: right;
}
#Againtext{
    display: inline-block;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 230%;
}