body{
    background-color: #D8F045
}

h1{ 
   text-align: center;
    font-family: monospace;
    font-size: 300%;
}

h3{
   text-align: center;
    font-family: monospace;
    font-size: 200%; 
}
#ScoreC{
    text-align: center;
    display: inline-block;
   width: 40%
   height: auto; 
    margin-left: 21%;
}
#DateC{
    display: inline-block;
    text-align: center;
    font-family: monospace;
    margin-left: 20%;
   height: auto; 
}

#preScore{
    display:block;
    text-align: center;
}

.scoreText{
    text-align: center;
    font-family: monospace;
    font-size: 200%;
}

#buttonBox{
    display:block;
    width: 90%;
    margin: auto;
}

.buttons{
    display: inline-block;
    margin: auto;
    margin-left: 5%;
    width:  40%;
    font-size: 200%;
    font-family: monospace;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
}