body{
    background-color: #D8F045;
}
a{
    color: inherit;
    text-decoration: inherit;
}
#heading{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

.subheading{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

#chart{
    display: block;
    font-weight: bold;
    margin: auto;
    width: 50%;
}


#textData1{
    display: inline-block;
    margin: auto;
    float: left;
    width: 33%;
}
#textData2{
    display: inline-block;
    margin: auto;
    float: none;
    width: 33%;
}
#textData3{
    display:inline-block;
    margin: auto; 
    float: right;
    width: 33%;
}

.statText{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

#buttonBox{
    display:block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100px;
    
}
.buttons{
    display: block;
    margin: auto;
    width:  205px;
    height: 40px;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    border-width: 5px;
    border-style: solid; 
    border-color: #65FFE7;
    background-color: orange;
    border-radius: 50px;
}

#outerMeter{
    display: block; 
    margin: auto;
    width: 80%; 
    height: 5%;
    border-Width: 1%;
    border-style: solid;
    border-color: aquamarine;
    background-color: cadetblue; 
    border-radius: 50px;
}

#innerMeter{
    display: block;
    float: left;
    margin:auto;
    width:10%; 
    height: 99%; 
    background-color: aqua;
    border-radius: 50px;
}

.label{
    display: inline-block;
    width:18%; 
    font-family: monospace;
    margin-bottom: 1%;
    margin-left: 1%;
    font-size: 20px;
    text-align: center;
}

#myChart{
    display: inline-block;
    width: 100%;
    margin: auto;
}